---
title: "Data liberation and the Fediverse"
draft: false
date: "2022-06-03"
# webslides"
# extraCSS: "/css/slides.css"
---
<script>removeHeaderFooter(1500)</script>

<section>
  <div class="aligncenter fadeIn slow">
    <h1><b>Tools and strategy to reclaim culture beyond GAFAM</b></h1>

    <br/>

    <p class="text-symbols">* * *</p>

    <p class="text-intro second">
      A creative way to <strong><i>force interoperability</i></strong> because regulations take ages in doing it 😆
      <br/>

      Featuring: (

      <a
        href="https://tracking.exposed/"
        style="color: #030303"
        target="_blank">
        tracking.exposed
      </a>) (<a
        href="https://libr.events/"
        style="color: #030303"
        target="_blank">
        libr.events
      </a>) (<a
        href="https://mobilizon.berlin/"
        style="color: #030303"
        target="_blank">
        mobilizon.berlin
      </a>), and the documentary ( <a
        href="https://www.arte.tv/en/videos/100750-000-F/disappear/"
        style="color: #030303"
        target="_blank">DISAPPEAR</a> )
    </p>
  </div>
</section>

<section class="bg-black">
  <span
    class="background-center"
    style="background-image:url('/images/mobilizon-splashscreen.png') ; background-size: contain;">
  </span>

  <div class="wrap fadeUp">
    <h1 style="background-color:#ffffffa0">
      <a href="https://joinmobilizon.org">https://joinmobilizon.org</a>

      .
    </h1>
  </div>
</section>

<section class="bg-black">
  <span
    class="background-center"
    style="background-image:url('/images/mobilize-berlin/1_Launch_1_users.png') ; background-size: contain;">
  </span>
</section>

<section class="bg-black">
  <span
    class="background-center"
    style="background-image:url('/images/mobilize-berlin/1_Launch_2_documentary.png') ; background-size: contain;">
  </span>
</section>

<section class="bg-black">
  <span
    class="background-center"
    style="background-image:url('/images/mobilize-berlin/1_Launch_3_musk.png') ; background-size: contain;">
  </span>
</section>

<section class="bg-black">
  <span
    class="background-center"
    style="background-image:url('/images/mobilize-berlin/2_network_1_new_feature.png') ; background-size: contain;">
  </span>
</section>

<section class="bg-black">
  <span
    class="background-center"
    style="background-image:url('/images/mobilize-berlin/3_new_feature_2.1.png') ; background-size: contain;">
  </span>
</section>

<section>
  <div class="wrap">
    <h3>The Critical Mass problem</h3>

    <hr></hr>

    <div class="grid">
      <div
        class="column"
        style="font-size:1.2em">
        <p>
          <a href="https://en.wikipedia.org/wiki/Metcalfe%27s_law">
            https://en.wikipedia.org/wiki/Metcalfe's_law
          </a>
          .
        </p>

        <pre style="font-size:1.1em">
          The law has often been illustrated using the example of fax machines: <strong> a single fax machine is useless, but the value of every fax machine increases with the total number of fax machines in the network </strong>, because the total number of people with whom each user may send and receive documents increases. Likewise, in social networks, the greater the number of users with the service, the more valuable the service becomes to the community.
        </pre>

        <p>
          In a social network, number of nodes and number of content might be slightly equivalent:
          so, let's copy them outside of Facebook, or any other monopolist, and do what we call
          <b>data liberation</b>!
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="grid">

    <div class="column">
      <img class="alignleft size-100" src="/images/libr.e.jpg"/>
    </div>

    <div class="column">
      <h2>
        Experiment <b>N. 1</b>
        <br/><br/>
      </h2>
      <span class="text-mostly">
        <p>🔍 A browser extension to scrape events from Facebook</p>
        <p>✨ And <a href="https://github.com/vecna/mobilizon-poster">repost them into Mobilizon</a>.</p>
        <p>💡 Naming and design are still work in progress.</p>
      </span>
    </div>
  </div>
</section>

<section>
  <div class="grid">
    <div class="column">
      <img
        class="alignleft size-100"
        src="/images/scraping-example.png"/>
    </div>
    <div class="column">
      <h2>Facebook of course doesn't help
      <br/><br/>
      </h2>
      <span class="text-mostly">
        <p>💀Heavily obfuscated HTML</p>
        <p>🤖Require some automated interaction but also be logged as Facebook user</p>
        <p>
          🎓In the hackathon you'll see how to scrape at the next level, and how to integrate with
          mobilizon API.
        </p>
      </span>
    </div>
  </div>
</section>

<section>
  <div class="grid">
    <div class="column">
      <img
        class="alignleft size-70"
        src="/images/mobilizon-reshare/design2.png"/>
    </div>

    <div class="column">
      <h2>Experiment <b>N. 2</b>
      <br/><br/>
      </h2>
      <span class="text-mostly">
        <p>🐙<code>mobilizon-reshare</code>, from the Tech Workers Coalition</p>
        <p>✨ It watches what you post on your mobilizon account, and reposts it somewhere else</p>
        <p>
          💡 You can use your presence on proprietary social networks to attract users towards
          liberated tools under your control
        </p>
        <p>
          📓 blogpost: <a href="https://write.as/simone-robutti/supercharge-your-events-using-mobilizon-and-mobilizon-reshare">
            Supercharge your events using mobilizon and mobilizon reshare
          </a>, and <a href="https://github.com/Tech-Workers-Coalition-Italia/mobilizon-reshare">
            code
          </a>.
        </p>
      </span>
    </div>
  </div>
</section>

<section>
  <div class="wrap">
    <div class="grid">
      <div class="column">
        <h3>Publish in Mobilizon</h3>
        <img
          class="size-100"
          src="/images/mobilizon-reshare/event-in-mobilizon-ita.png" />
      </div>
      <div class="column">
        <h3>Reshare in Telegram (or somewhere else)</h3>
        <img
          class="size-100"
          src="/images/mobilizon-reshare/event-reshared-on-tg.png"/>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="wrap">
    <h3 class="aligncenter">Data liberation running since last year!</h3>
    <div class="grid">
      <div class="column">
        <img
          class="size-100"
          src="/images/mobilize-berlin/unofficial-event-example.png"/>
      </div>
      <div class="column">
        <img
          class="size-100"
          src="/images/mobilize-berlin/unofficial-group-example.png"/>
      </div>
    </div>
  </div>
</section>

<section class="bg-black">
  <span
    class="background-center"
    style="background-image:url('/images/mobilize-berlin/4_scraping.png') ; background-size: contain;">
  </span>
</section>

<section>
  <div class="wrap">
    <h1>
      <a href="https://mobilize.berlin/events/9d80d85c-e198-4611-8e6d-edffe219db78">
        https://mobilize.berlin Hackathon
      </a>
    </h1>
    <hr></hr>
    <h4 class="aligncenter">On Saturday, June 11, 2022 from 2:00 PM to 8:00 PM, <b>c-base</b></h4>
    <hr></hr>
    <h1>Design, Discuss, Test, <b>Liberate data!</b></h1>
    <p class="aligncenter">
      Follow the links from
      <a href="https://twitter.com/@trackingexposed">https://twitter.com/@trackingexposed</a>
      or
      <a href="https://libr.events">https://libr.events</a>.
    </p>
  </div>
</section>

<script>
  removeHeaderFooter(1500)
  $(document).ready(function() {
    let visibleFooter = false;
    /* if the mouse goes out, for four second leave the bar */
    $(document).mouseleave(function() {
      $('header').fadeIn(40);
      window.setTimeout(function() {
        $('header').fadeOut(40);
      }, 4000);
    });
    $("#final-slide").on('mousemove', function() {
      visibileFooter = !visibleFooter && restoreHeaderFooter(800);
    });
  });
</script>
