<style type="text/css" media="screen">

.aligner {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.extension-button img {
  height: 25px;
  margin-top: -5px;
  margin-left: 5px;
  transition: all 0.2s;
}

.extension-button {
  padding: 0.5em 1em 0.5em 1em;
  font-size: 18px;
  background-image: none;
  background-color: #AA0000;
  border: 1px solid #AA0000;
  color: white !important;
  border-radius: 4px;
  font-weight: 900;
  text-decoration: none !important;
}

a:hover.extension-button {
  padding: 0.5em 1em 0.5em 1em;
  font-size: 18px;
  background-color: #fafafa;
  color: #AA0000 !important;
  border: 1px solid #AA0000;
  border-radius: 4px;
  font-weight: 900;
}

</style>

<div class="row aligner">

  <span>
    <a class="extension-button" title="Add to Chrome"
      href={{ .Get "chrome" }}
      target="_blank"
      rel="noopener noreferrer">
      Chrome
      <img src="/images/browsers/chrome.png">
    </a>
  </span>

  <span>&nbsp;&nbsp;</span>

  <span>
    <a class="extension-button" title="Add to Chrome"
				href={{ .Get "firefox" }}
      target="_blank"
      rel="noopener noreferrer">
      Firefox
      <img src="/images/browsers/firefox.png">
    </a>
  </span>

</div>
